h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:yellow;
    color:black;
    text-align:center
}
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:pink;
    color:darkblue;
    font-size:18px;
}
